body {
  margin: 0;
  font-size: 16px;
  font-family: "Merriweather", sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/**=============================================================*/

button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  cursor: pointer;

  background: transparent;
  border-radius: 0;

  /* inherit font & color from ancestor */
  font: inherit;
  color: inherit;
  text-decoration: none;
  text-align: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none; /* for input */
  -moz-appearance: none;

  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea,
input {
  height: auto;
  line-height: inherit;
  padding: 0;
  color: inherit;
  background: inherit;
  display: block;
  width: auto;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

textarea,
input:focus {
  box-shadow: none;
}

a:focus {
  border: 0;
  outline: none;
}
