head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
  meta(name="description" content="")
  title #{title}
  meta(name="msapplication-TileColor", content="#da532c")
  meta(name="theme-color", content="#fff")

  link(href="./fonts/Merriweather/merriweather.css" rel="stylesheet")
  link(href="./css/style.css" rel="stylesheet")
  link(href="./css/critical.css" rel="stylesheet")