block variables

doctype html
html(lang="en")
  - var title = 'Одесса'
  include ./_blocks/_head

  body
    div(id="svg_inline")
    header <!-- Header -->
      h1 hello worls
    main  
      //- include ./_components/_section
    footer <!-- Footer -->