@font-face {
  font-family: "Merriweather";
  src: local("Merriweather Light"), local("Merriweather-Light"),
    url("Merriweather-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), 
    url("Merriweather.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: local("Merriweather Bold"), local("Merriweather-Bold"),
    url("Merriweather-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
